[Desktop Entry]
Name=MemoryMaster
Comment=Can you beat the Memory Master?
TryExec=/usr/bin/pgzrun
Exec=/usr/bin/pgzrun /home/pi/Desktop/Programs/python/Mimory/main.py
Icon=/home/pi/Desktop/Programs/python/Mimory/MM.png
Terminal=true
Type=Application
Categories=Application;Game;
StartupNotify=true